* {
	font-size: 30px;
	text-align: center;

}

a {
	font-size: 25px;
	text-decoration: none;
	color:black;
	padding: 50px;
	
	
	
}

body {
	background-color: white;
	
}



li {
	list-style: none;
	display: inline;
	text-transform: uppercase;
	
	
}

p {
	text-align: center;
	font-size: 30px;
	color:grey;

}


nav {
	display: block;
	
}

h1 {
	text-align: center;
	font-size: 60px;
}